@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #262626;
}

html.dark {
  --line-color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d0d18;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3f3f35d;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
